@import '../../scss/variables';


//normalize
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}

//container width

.container {
    max-width: 560px;
    min-width: 320px;
    margin: 0px auto;
}

// mobile first 

.tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_logo {
        font-size: 38px;
        line-height: 65px;
        font-weight: 700;
        color: $black;
        margin: 38px 0px 44px;
    }

    &_form {
        position: relative;
        width: 100%;
        padding: 0px 30px;
        margin-bottom: 30px;

        &_input {
            padding: 0px 50px 0px 17px;
            width: 100%;
            border: 1px solid $border-input;
            border-radius: 25px;
            font-size: 17px;
            line-height: 42px;
        }

        &_button {
            width: 40px;
            height: 40px;
            padding: 0px;
            margin: 0px;
            border: none;
            border-radius: 50%;
            position: absolute;
            right: 32px;
            top: 2px;
            cursor: pointer;
            background-color: $white;


            svg {
                fill: $green;
                width: 40px;
                height: 40px;

                transition: fill $duration ease;
            }

            &:hover {
                svg {
                    fill: $stopwatch-pause-hover;
                }
            }
        }
    }

    &_stopwatches {
        width: 100%;

        &>:first-of-type {
            border-top: 1px solid $border-stopwatch;
        }
    }
}