@import '../../scss/variables';

.stopwatch {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $border-stopwatch;

    h2 {
        font-size: 13px;
        font-weight: 400;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
    }

    >div:last-of-type {
        display: flex;
        align-items: center;

        p {
            font-size: 13px;
            font-weight: 700;
        }

        button {
            border: none;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            padding: 0px;
            background-color: $white;
            cursor: pointer;

            &:first-of-type {
                margin: 0px 15px 0px 30px;

                svg {
                    fill: $black;
                    transition: fill $duration ease;
                }

                &:hover {
                    svg {
                        fill: $stopwatch-pause-hover;
                    }
                }
            }

            &:last-of-type {
                svg {
                    fill: $stopwatch-remove;
                    transition: fill $duration ease;
                }

                &:hover {
                    svg {
                        fill: $stopwatch-remove-hover;
                    }
                }
            }
        }
    }
}

//active stopwatch

.active {
    background-color: $background-active-stowawtch;

    h2,
    p {
        color: $green;
    }

    >div:last-of-type {

        button {
            background-color: $background-active-stowawtch;
        }
    }

}