$black: #000000;
$white: #ffffff;
$green: #3faf6c;

$border-input: #7f7f7f;
$border-stopwatch: #e5e5e5;

$background-active-stowawtch: #fdfdf6;
$stopwatch-remove: #d2697a;
$stopwatch-remove-hover: #9d3a4b;
$stopwatch-pause-hover: #563535;

$duration: .3s;